<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<ul th:fragment="language_selector" th:remove="tag">
         <li>
            <a th:href="${@languageUtil.buildUrl('vi')}" class="dropdown-item language">
                <span class="fi" th:classappend="${@languageIconUtil.cssClassFor('vn')}"></span>
                <span th:text="' '+#{language.vi}"></span>
            </a>
        </li>
        <li>
            <a th:href="${@languageUtil.buildUrl('de')}" class="dropdown-item language">
                <span class="fi" th:classappend="${@languageIconUtil.cssClassFor('de')}"></span>
                <span th:text="' '+#{language.de}"></span>
            </a>
        </li>
        <li>
            <a th:href="${@languageUtil.buildUrl('en')}" class="dropdown-item language">
                <span class="fi" th:classappend="${@languageIconUtil.cssClassFor('gb')}"></span>
                <span th:text="' '+#{language.en}"></span>
            </a>
        </li>
	</ul>
</body>
</html>
